$body-bg: hsl(27, 66%, 92%);
$main-color: hsl(10, 79%, 65%);
$secondary-color: hsl(186, 34%, 60%);
$txt-color: #000;

$white: hsl(0, 0%, 100%);
$black: #000;
$orange: hsl(1, 90%, 64%);

$white: hsl(0, 0%, 100%);
$soft-red: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);

$dark-brown: hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$very-pale-orange: hsl(33, 100%, 98%);

$mobile-width: 600px;
$tablet-width: 800px;

$font-family: 'DM Sans', sans-serif;